body {
	font-family: 'Lato', arial, helvetica, sans-serif;
}


.layout{
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
	text-align: center;

}

.show-container {
	/* display: none; */
}

.options-container {
	display: flex;
	justify-self: center;
	align-items: center;
	gap: 50px;
}

.options {
	display: none;
}

.translated {
	display: none;
	font-weight: 300;
}


.hide {
	display: none;
}

.show {
	display: block;
}

.show-container {
	margin-top: 60px;
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  /* font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.fail:hover {
	background-color: red;
}

.success:hover {
  background-color: greenyellow;
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.score {
	margin-top: 24px;
	font-size: 24px;
}

.text-red {
	color: red;
}